[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = http://github.com/tpope/vim-cucumber.git
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = http://github.com/tpope/vim-haml.git
[submodule "vim/bundle/vim-ruby-refactoring"]
	path = vim/bundle/vim-ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/json.vim"]
	path = vim/bundle/json.vim
	url = https://github.com/vim-scripts/JSON.vim.git
[submodule "vim/bundle/vim-latex"]
	path = vim/bundle/vim-latex
	url = https://github.com/jcf/vim-latex
[submodule "vim/bundle/Command-T"]
	path = vim/bundle/Command-T
	url = https://github.com/vim-scripts/Command-T.git
[submodule "vim/bundle/screen"]
	path = vim/bundle/screen
	url = https://github.com/ervandew/screen
